.header{
  align-items: center;
  color: var(--white);
  display: flex;
  font-family: var(--headline-font);
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
}

.left{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.right{
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  width: 130px;
}

.title{
  font-size: 2rem;
  font-weight: 800;
}

.subtitle{
  font-size: 1.5rem;
  font-weight: 300;
}

.flag{
  width: 50px;
} 